@model IEnumerable<MBC2015.Models.Budget>

@{
    ViewBag.Title = "Index";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Application Users", "Index", "BudgetUsers")</a>
</p>
<h5 class="text-info">My Saved Budgets</h5>
<h6>*Use <strong>Options</strong> to view Budget Analysis and Details or Edit or Delete budget</h6>
<table class="table">
    <tr>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.BudgetName)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.BudgetStartDate)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.BudgetEndDate)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.TotalIncome)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.TotalExpenses)
        </th>
        <th class="text-info">
            @Html.DisplayNameFor(model => model.BudgetBalance)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetBalance)
            </td>

            <td>
                <div class="btn-group btn-sm">
                    <a class="btn btn-info" href="#">Options</a>
                    <a class="btn btn-info dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Budget Analysis Summary", "Summary", new {id = item.BudgetId})</li>
                        <li>@Html.ActionLink("Budget Details", "Details", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Edit Budget", "Edit", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Delete Budget", "Delete", new { id = item.BudgetId })</li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>